# ========================================
# Visual Studio / CMake
# ========================================
.vs/
out/
build/
*.VC.db
*.suo
*.user
CMakeSettings.json

# ========================================
# Binarios y Compilación
# ========================================
*.exe
*.dll
*.obj
*.lib
*.pdb
*.ilk
*.exp
*.idb
*.cache

# ========================================
# Dependencias
# ========================================
# Si quieres que git ignore futuras descargas manuales de bibliotecas 
# (aunque los submódulos de git ya los gestionan inteligentemente)
# /external/nvrhi/thirdparty/

# ========================================
# Logs y Temporales
# ========================================
*.log
*.tmp